.app-container {
    max-width: 800px; /* Largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 20px; /* Espaçamento interno do contêiner */
    background-color: #0c0505; /* Cor de fundo clara */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-color: #0056b3;
}

.app-container h2 {
    text-align: center; /* Centraliza o título */
  margin-bottom: 20px; /* Espaçamento inferior do título */
  color: #e9dcdc; /* Cor do texto do título */
}
/* Estilo para o grupo de formulário */
.form-container {
    margin-bottom: 20px; /* Espaçamento inferior */
}

.form-group {
    margin-bottom: 15px; /* Espaçamento inferior entre campos */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"].cpf-input,
.form-group select.input-field {
    width: 100%; /* Largura total do campo de entrada */
    padding: 12px; /* Espaçamento interno do campo */
    border: 1px solid #ccc; /* Borda sólida com cor cinza */
    border-radius: 4px; /* Borda arredondada */
    box-sizing: border-box; /* Inclui padding e bordas na largura total */
}

.input-field {
    width: 100%; /* Largura total do campo de entrada */
    padding: 12px; /* Espaçamento interno do campo */
    border: 1px solid #ccc; /* Borda sólida com cor cinza */
    border-radius: 4px; /* Borda arredondada */
    box-sizing: border-box; /* Inclui padding e bordas na largura total */
}
/* Estilo para o botão de envio */
.form-group button {
    width: 48%; /* Largura do botão */
    padding: 10px; /* Espaçamento interno do botão */
    color: #fff; /* Cor do texto branco */
    border: none; /* Sem borda */
    border-radius: 4px; /* Borda arredondada */
    cursor: pointer; /* Cursor de ponteiro ao passar por cima */
    margin-right: 4%; /* Espaçamento entre os botões */
}
.form-group button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.delete-button {
    background-color: #dc3545; /* Cor de fundo vermelho para o botão de exclusão */
}

.delete-button:hover {
    background-color: #c82333; /* Cor de fundo ao passar o mouse no botão de exclusão */
}

/* Estilo para a lista de alunos */
.alunos-list {
    margin-top: 20px; /* Espaçamento superior */
}

.table-container {
    overflow-x: auto; /* Permite rolagem horizontal se necessário */
}

table {
    width: 100%; /* Largura total da tabela */
    border-collapse: collapse; /* Remove espaçamento entre as bordas */
    margin-top: 10px; /* Espaçamento superior da tabela */
}

th, td {
    padding: 10px; /* Espaçamento interno das células */
    text-align: left; /* Alinhamento do texto à esquerda */
    border-bottom: 1px solid #ddd; /* Borda inferior das células */
}

th {
    background-color: #800080; /* Cor de fundo para cabeçalho da tabela */
}

tr:hover {
    background-color: #f1f1f15b; /* Cor de fundo ao passar o mouse sobre a linha */
}

h3 {
    padding: 1%;
    margin-bottom: 10px; /* Espaçamento inferior do título */
    background-color: rgb(72, 27, 100);
}
